.button{
    -fx-border-color: #6495ed;
    -fx-border-width: 4px;
    -fx-background-color : #FFFFFF;
    -fx-background-radius : 5 5 5 5;
    -fx-text-fill : #6495ed;
    -fx-font-weight: bold;
    -fx-font-size: 18;
    fx-transition: transform 0.2s;
}
.button:hover{
    -fx-background-color : #6495ed;
    -fx-background-radius : 5 5 5 5;
    -fx-text-fill : #FFFFFF;
    -fx-transform: scale(1.1);
}
.button:pressed{
    -fx-background-color: rgba(0, 0, 0, 0.5);


}

.userButton{
    -fx-background-color: white;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-color: purple;
    -fx-border-width: 2px;
    -fx-text-fill: black;

}
.shadow{
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 5, 0.1, 0.0, 0.5);

}
.saveBtn{
    -fx-border-color: #6dde00;
    -fx-border-width: 4px;
    -fx-background-color : #FFFFFF;
    -fx-background-radius : 5 5 5 5;
    -fx-text-fill : #6dde00;
    -fx-font-weight: bold;
    -fx-font-size: 18;
    fx-transition: transform 0.2s;
}

.saveBtn:hover{
    -fx-background-color : #6dde00;
    -fx-background-radius : 5 5 5 5;
    -fx-text-fill : #FFFFFF;
    -fx-transform: scale(1.1);
}

.saveBtn:pressed{
    -fx-background-color: rgba(0, 0, 0, 0.5);
}

.addBtn{
    -fx-border-color: #FFFFFF;
    -fx-border-width: 4px;
    -fx-background-color : #FFFFFF;
    -fx-background-radius : 5 5 5 5;
    -fx-text-fill : #6495ed;
    -fx-font-weight: bold;
    -fx-font-size: 18;
    fx-transition: transform 0.2s;
}

.addBtn:hover{
    -fx-background-color : #6495ed;
    -fx-background-radius : 5 5 5 5;
    -fx-text-fill : #FFFFFF;
    -fx-transform: scale(1.1);
}

.popupPane{
    -fx-background-radius: 8px;
}

.cancelBtn{
    -fx-border-color: #FFFFFF;
    -fx-border-width: 4px;
    -fx-background-color : #FFFFFF;
    -fx-background-radius : 5 5 5 5;
    -fx-text-fill : #e23d27;
    -fx-font-weight: bold;
    -fx-font-size: 18;
    fx-transition: transform 0.2s;
}

.cancelBtn:hover{
    -fx-background-color : #e23d27;
    -fx-background-radius : 5 5 5 5;
    -fx-text-fill : #FFFFFF;
    -fx-transform: scale(1.1);
}

.overlayPane{
    -fx-background-color: rgba(0, 0, 0, 0.5);
}
